@CHARSET "UTF-8";
form.bordlog {
	display: block;
 width: 200px;
   top: 200px;
   right:840px;
	background: #fc0; /* Цвет фона */
    width: 150px; /* Ширина блока */
    padding: 10px; /* Поля */
    border: 2px solid #000; /* Параметры рамки */
     -moz-box-sizing: border-box; /* Для Firefox */ 
   box-size: border-box;

text-align: left;
 font-size: small;
 display:inline-block;
 
 
}
input {width: 100px;
}