   _text{
background-color: #ffffff;
width: 100%;
}
div.back {
    width: 960px;
    height: 1280px;
	background-color: rgb(26, 50, 117);
	 opacity: 0.7;
	 background-position: top center;
	position: relative;
	 top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    *margin: auto;
}